<div class="feedback-container">
    <hr>

    <div class="comment_submit">
        <input type="text" value="<%- feedback_comment_placeholder %>">
        <button type="button" class="btn btn-primary"><%- feedback_comment_submit %></button>
    </div>
    <div class="score">
        <ul>
            <li>★</li>
            <li>★</li>
            <li>★</li>
            <li>★</li>
            <li>★</li>
        </ul>
    </div>
    <div class="infotext"><%- feedback_label %></div>
    <div style="clear:right"></div>
</div>
