#doc-metadata {
    font-size: 0.8em;
    display: none;
}

#messages-container {
    font-size: 0.8em;
}

#messages-container .alert {
    border-radius: 0px;
}

#consentmodal .text-full, #consentmodal .text-restricted {
    display: none;
}

.feedback-container {
    display: none;
}

.feedback-container .score {
    float: right;
}

.feedback-container .comment_submit {
    float: right;
}

.feedback-container .comment_submit input {
    margin: 0 1em 0 0;
}

.feedback-container .score ul {
    font-size: 1.5em;
    list-style-type: none;
    margin: 0 1em 0 0;
    padding: 0;
}

.feedback-container .score ul li {
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
}

.alert-fullwidth-hidden {
    width: 100% !important;
    display: none;
}

.with_sidebar {
    display: flex;
}

.with_sidebar > .main {
    width: 75%
}

.with_sidebar > .side {
  font-size: 0.8em;
  width: 25%;
  padding-left: 2em;
}

.figure {
    text-align: center;
    font-size: 0.8em;
}

.figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
