#doc-metadata {
    font-size: 0.8em;
    display: none;
}

#messages-container {
    font-size: 0.8em;
}

#messages-container .alert {
    border-radius: 0px;
}

#consentmodal .text-full, #consentmodal .text-restricted {
    display: none;
}

.alert-fullwidth-hidden {
    width: 100% !important;
    display: none;
}

.with_sidebar {
    display: flex;
}

.with_sidebar > .main {
    width: 75%
}

.with_sidebar > .side {
  font-size: 0.8em;
  width: 25%;
  padding-left: 2em;
}

.figure {
    text-align: center;
    font-size: 0.8em;
}

.figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
