#doc-metadata {
    font-size: 0.8em;
    display: none;
}

#messages-container {
    font-size: 0.9em;
}

#messages-container .alert {
    border-radius: 0px;
}

#consentmodal .text-full, #consentmodal .text-restricted, #register-login-fail-alert {
    display: none;
}

.feedback-container {
    display: none;
    margin-bottom: 2em;
}

.feedback-container .infotext {
    float: right;
    padding: 0.9em 1em 0 0;
}

.feedback-container .comment_submit {
    float: right;
}

.feedback-container .comment_submit input {
    margin: 0 1em 0 0;
    width: 250px;
}

.feedback-container .score {
    float: right;
}

.feedback-container .score ul {
    font-size: 1.5em;
    list-style-type: none;
    margin: 0 1em 0 0;
    padding: 0;
}

.feedback-container .score ul li {
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
}

.feedback-container .score ul li.active {
    color: gold;
}

.alert-fullwidth {
    width: 100% !important;
}

.with_sidebar {
    display: flex;
}

.with_sidebar > .main {
    width: 75%
}

.with_sidebar > .side {
  font-size: 0.8em;
  width: 25%;
  padding-left: 2em;
}

.figure {
    text-align: center;
    font-size: 0.8em;
}

.figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.MathJax_Display {
    margin: 2em 0 !important;
}

.tutorial-exercise {
    margin: 2em 0;
}
